.idea/
logs/

Notebook/.ipynb_checkpoints
Notebook/AgentSimulationNotebook.ipynb
saved_agent_*

.git/
**/*.svg
**/*.html
**/*.xiidm
**/__pycache__
case1888rte.json
case1888rte.mat
scriptTest1888.py
scriptTestAntoineConv.py
scriptTestPypowsybl.py
src/data_test/grid.mat
src/data_test/case14_realistic_test.mat